@import url("wickedcss.min.css");

body {
  margin: 0px;
  overflow-x: hidden;
 }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}
.background-header {
  background-color: #fff !important;
  height: 80px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #1e1e1e !important;
}

.background-header .main-nav .nav li:hover a {
  color: #fe3f40 !important;
}

.background-header .nav li a.active {
  color: #fe3f40 !important;
}

.header-area {
  background-color: #fafafa;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 100px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #03a4ed;
  line-height: 100px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo h4 span {
  color: #98bf64;
}

.background-header .main-nav .logo h4 {
  line-height: 80px;
}

.background-header .main-nav .nav {
  margin-top: 20px !important;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 30px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
  padding-left: 40px;
}

.header-area .main-nav .nav li:last-child a,
.background-header .main-nav .nav li:last-child a {
  color: #fff !important;
  padding: 0px 20px;
  font-weight: 400;
}

.header-area .main-nav .nav li:last-child a:hover,
.header-area .main-nav .nav li:last-child a.active {
  color: #fff !important;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: #2a2a2a;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
  color: #2a2a2a;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #fe3f40 !important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #fe3f40 !important;
  opacity: 1;
}

.header-area .main-nav .nav li:last-child a:hover,
.background-header .main-nav .nav li:last-child a:hover {
  background-color: #03a4ed;
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 30px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: #2a2a2a;
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
  color: #2a2a2a;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 50px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #2a2a2a !important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: #fe3f40 !important;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area .nav {
  margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
  color: #fe3f40;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area .main-nav .nav li:last-child,
  .background-header .main-nav .nav li:last-child {
    display: none;
  }
  .header-area .main-nav .nav li:nth-child(6),
  .background-header .main-nav .nav li:nth-child(6) {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .background-header .main-nav .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #fe3f40 !important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .background-header .nav {
    margin-top: 80px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 100px;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #fe3f40 !important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3b566e;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}
body {
  background-image: url("img/background-image-1053439.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  color: white;
}
main {
  width: 100%;
  height: 98vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
main video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main .dtype h1 {
  color: white;
  font-family: a1;
  text-align: center;
  font-size: 85px;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(75, end), blink-carat 0.75s step-end infinite;
  position: absolute;
  margin-top: -30%;
  margin-left: 11.5%;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-carat {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}

@font-face {
  font-family: "a1";
  src: url("xtras/atkinson-hyperlegible/Atkinson-Hyperlegible-Bold-102.otf");
}
@font-face {
  font-family: "a2";
  src: url("xtras/dihjauti/Dihjauti-Regular.otf");
}

@font-face {
  font-family: "a3";
  src: url("xtras/recursive-sans/Recursive_VF_1.078.ttf");
}
@font-face {
  font-family: "a4";
  src: url("xtras/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "a6";
  src: url("xtras/poppins/Poppins-Regular.otf");
}

main .breadcrumb {
  margin-top: -8%;
  margin-left: 34%;
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
main .breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
main .breadcrumb li + li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
main .breadcrumb li a {
  color: white;
  text-decoration: none;
  font-family: a6;
  font-size: 18px;
}

/* Add a color on mouse-over */
main .breadcrumb li a:hover {
  background-image: linear-gradient(45deg, #fc194a, #0d25b9, #fc194a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  color: #01447e;
  text-decoration: underline;
}

.d1 {
  width: 100%;
  height: 100vh;
}
.d1 .ict {
  width: 15vw;
  height: 29vh;
  background-image: url("xtras/reshot-illustration-sharing-information-4EAVR9FHQ6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 4%;
  border-radius: 50%;
  position: absolute;
}
.d1 article {
  word-wrap: break-word;
  word-break: break-all;
  width: 70.4%;
  margin-left: 23%;
  margin-top: 6%;
}
.d1 .a1 {
  margin-top: 2%;
}
@font-face {
  font-family: "arkane";
  src: url("assets/fonts/Philosopher-Regular.ttf");
}
.hx1 {
  text-align: center;
  margin-top: 2%;
  font-family: arkane;
  font-weight: 400;
}
.d1 .sub {
  margin-left: 5%;
  font-weight: bolder;
  font-size: 23px;
}
.d1 .ax {
  margin-left: 5%;
  margin-top: 0%;
  width: 90%;
}
.d1 details {
  margin-left: 8%;
  margin-top: 3%;
}
.rw1 {
  height: 25vh;
  margin-top: 4%;
}
.rw1 div {
  width: 15vw;
  margin-left: 2%;
  margin-top: 3%;
  height: 24vh;
}
.rw1 .c1 {
  animation: zoomer;
  animation-duration: 3s;
  margin-left: 9%;
  background-position: center;
  background-size: cover;
  background-image: url("img/mct-abstract-technology-logo-design-on-black-background-mct-creative-initials-letter-logo-concept-vector.jpg");
}
.rw1 .c2 {
  animation: zoomer;
  animation-duration: 3s;
  background-position:right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/3c317047b056f50d1dd6a443d648c5b1.jpeg");
}
.rw1 .c3 {
  animation: zoomer;
  animation-duration: 3s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/cisco\ logo\ mwc\ 2019\ barcelona\ getty.jpg");
}
.rw1 .c4 {
  animation: zoomer;
  animation-duration: 3s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/new-microsoft-logo-SIZED-SQUARE-300x297-300x297.jpg");
}
.rw1 .c5 {
  animation: zoomer;
  animation-duration: 3s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/9406f78fe45acf81c1a4ac16ae60380e.jpeg");
}
.rw1 .c6 {
  animation: zoomer;
  animation-duration: 3s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/dell-logo.jpg");
}
.rw1 .c7 {
  animation: zoomer;
  animation-duration: 3s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/images\ -\ 2023-03-06T145854.747.jpeg");
}
.rw1 .cx {
  animation: zoomer;
  animation-duration: 3s;
  margin-left: 26%;
  background-position: center;
  background-size: cover;
  background-image: url("img/Brand_Standars-Red_Hat-_color_on-black.svg");
}

footer {
  width: 100%;
  height: 66vh;
  background-image: url("xtras/pxfuel\ \(6\).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2%;
  margin-top: 17%;
}
footer article {
  float: left;
  margin-top: 3%;
  margin-left: 4%;
  color: white;
  font-family: a1;
}
footer article p {
  font-weight: normal;
  font-family: a6;
  animation: fadeInUp;
  animation-duration: 3s;
}
footer .pxp {
  color: white;
  background-image: linear-gradient(75deg, white 0%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;
  font-weight: normal;
}
footer article h3 {
  color: white;
  font-family: a1;
  font-weight: bolder;
  font-size: 25px;
  animation: fadeInUp;
  animation-duration: 3s;
}
footer form {
  float: left;
  animation: fadeInUp;
  animation-duration: 3s;
}
footer form input {
  width: 42vw;
  padding: 1.7%;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 2rem;
  margin-left: 4%;
}
footer form input::placeholder {
  font-family: a6;
}
footer form button {
  padding: 1.5%;
  border: none;
  outline: none;
  background-color: blue;
  border-radius: 2rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 13vw;
  color: white;
  text-align: center;
  font-family: a1;
  margin-left: -23.3%;
}
footer form button:hover {
  background: linear-gradient(45deg, #0902d6 0%, #00ff88 80%);
  transition: 3s;
}
footer form button i {
  font-size: 24px;
  font-weight: bold;
  color: white;
  animation: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
footer div {
  width: 100%;
  height: 20vh;
  background-color: black;
  margin-top: 20%;
  padding-top: 0.5%;
  box-shadow: 5px 8px 30px 1px rgba(0, 0, 0, 0.21);
}
footer img {
  float: right;
  width: 300px;
  height: 240px;
  margin-top: 4%;
  margin-right: 5%;
  position: absolute;
  border-radius: 50%;
  animation: zoomer;
  animation-duration: 3s;
}
footer div p {
  text-align: center;
  margin-top: 4%;
  color: white;
  background-image: linear-gradient(45deg, yellow 40%, rgb(130, 130, 255) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.obj {
  height: 100vh;
  width: 100%;
}
